<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Филиалы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:insert="main :: head"></div>
</head>

<body>
<div th:insert="main :: nav-other"></div>
<div class="container text-center pt-lg-3">
    <h2>Управление филиалами</h2>
</div>
<hr/>
<div class="container text-center">
    <a th:href="@{/branches/add}" type="button" class="btn btn-danger">Добавить филиал <strong>+</strong></a>
</div>
<hr/>
<div class="container-fluid text-center">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Наименование филиала</th>
            <th scope="col">Адрес филиала</th>
            <th scope="col">Управление</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element : ${branchList}">
            <td th:text="${element.name}"></td>
            <td th:text="${element.address}"></td>
            <td>
                <div class="container d-flex flex-row bd-highlight justify-content-center">
                    <div class="row">
                        <div class="col-sm">
                            <a th:href="'/branches/' + ${element.id} + '/edit'">
                                <b>
                                    <button class="btn btn-link btn-sm text-success" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                    </button>
                                </b>
                            </a>
                        </div>
                        <div class="col-sm">
                            <form th:action="'/branches/' + ${element.id} + '/delete'" method="POST">
                                <b>
                                    <button class="btn btn-link btn-sm text-danger" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-x-octagon" viewBox="0 0 16 16">
                                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1L1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                    </button>
                                </b>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<hr>
<div class="alert alert-danger text-center" th:if="${branchError == true}" th:text="${feedback}"></div>
<br>
<div th:insert="main :: footer"></div>
</body>
</html>