<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:insert="main :: head"></div>
</head>

<body>
<div th:fragment="addBranch">
    <form th:action="@{/branches/add}" method="POST" autocomplete="off">
        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="header" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="header">Добавление филиала</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Введите наименование филиала:</label>
                            <input type="text" name="name" id="name" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="address" class="col-form-label">Введите адрес филиала:</label>
                            <input type="text" name="address" id="address" class="form-control" required>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <input type="submit" value="Добавить филиал &#10011;" class="btn btn-danger"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>