<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Изменение пароля</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:insert="main :: head"></div>
</head>
<body>
<div th:insert="main :: nav-other"></div>
<div class="container text-center pt-lg-3">
    <h2>Изменение пароля</h2>
</div>
<div class="container pt-lg-3">
    <hr>
    <form th:action="@{/edit/password}" th:object="${editAccountRequestDTO}" method="POST" autocomplete="off"
          onsubmit="return comparison(this);">
        <div class="form-group d-flex justify-content-center container">
            <label for="password" class="container">Введите новый пароль:
                <input type="text" th:field="*{password}" id="password" placeholder="Введите пароль"
                       class="form-control" required/>
            </label>
        </div>
        <br>
        <div class="form-group d-flex justify-content-center container">
            <label for="repeat-password" class="container">Повторите новый пароль:
                <input type="text" id="repeat-password" placeholder="Повторите пароль" class="form-control" required/>
            </label>
        </div>
        <input type="hidden" th:field="*{status}"/>
        <hr>
        <div class="d-flex justify-content-center">
            <a class="btn btn-danger mx-xl-2" th:href="@{/view}">&laquo; Вернуться в личный кабинет</a>
            <input type="submit" value="Обновить пароль &raquo;" class="btn btn-danger mx-lg-1"/>
        </div>
        <div hidden id="fail">
            <br>
            <div class="alert alert-danger">Пароли не совпадают! Проверьте корректность ввода паролей и повторите попытку ещё раз.
            </div>
        </div>
    </form>
    <hr>
</div>
<div th:insert="main :: footer"></div>

<script>
    function comparison() {
        let pass = document.getElementById('password');
        let new_pass = document.getElementById('repeat-password');
        if (pass.value === new_pass.value) {
            return true;
        } else {
            document.getElementById("fail").hidden = false;
            return false;
        }
    }
</script>
</body>
</html>