<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Восстановление доступа</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:insert="main :: head"></div>
</head>
<body>
<div class="container-fluid bg-dark text-center text-light pt-3 pb-3">
    <h2>Восстановление доступа</h2>
</div>
<br>
<div class="container bg-dark text-light pt-3 pb-3 rounded-3">
    <hr>
    <div class="d-flex justify-content-center container-fluid">
        <img th:src="@{/images/bank.png}" width="150" height="140" alt="Bank" src="#"/>
    </div>
    <hr>
    <form th:action="@{/reset}" th:object="${resetPasswordRequestDTO}" method="POST" autocomplete="off">
        <div class="form-group d-flex justify-content-center container">
            <label for="username">Введите логин для восстановления доступа:
                <input type="text" th:field="*{username}" id="username" placeholder="Введите логин" class="form-control"
                       required/>
            </label>
        </div>
        <br>
        <p class="text-center container-fluid">Новый пароль будет отправлен на электронную почту, которая привязанна к аккаунту.</p>
        <div class="d-flex justify-content-center">
            <a class="btn btn-danger mx-xl-2" th:href="@{/logout}">&laquo; Вернуться к авторизации</a>
            <input type="submit" value="Сбросить пароль &raquo;" class="btn btn-danger mx-lg-1"/>
        </div>
    </form>
    <hr>
</div>
<br>
</body>
</html>