<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <div th:fragment="head">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/libs/toastr.min.css}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
                crossorigin="anonymous"></script>
        <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script th:src="@{/libs/toastr.min.js}"></script>
        <script type="text/javascript" th:src="@{../static/js/notif-config.js}"></script>
        <script type="text/javascript" th:src="@{../static/js/modals.js}"></script>

        <script th:inline="javascript">
            $(document).ready(function () {
                console.log([[${action}]])
                const action = [[${action}]];
                switch (String(action)) {
                    case 'login-success':
                    case 'reset-success':
                    case 'edit-success':
                    case 'block-success':
                    case 'unblock-success':
                    case 'sent-to-branch-success':
                    case 'ready-for-delivery-success':
                    case 'destroyed-success':
                    case 'add-success':
                    case 'delete-success':
                        toastr.success([[${feedback}]]);
                        break;
                    case 'login-fail':
                    case 'reset-fail':
                    case 'account-fail':
                    case 'edit-fail':
                    case 'block-fail':
                    case 'unblock-fail':
                    case 'sent-to-branch-fail':
                    case 'ready-for-delivery-fail':
                    case 'destroyed-fail':
                    case 'add-fail':
                    case 'delete-fail':
                        toastr.error([[${feedback}]]);
                        break;
                }
            });
        </script>
    </div>
    <title></title>
</head>

<body>
<div th:fragment="nav-main">
    <nav class="navbar navbar-dark bg-dark text-white">
        <a class="navbar-brand" th:href="@{/home}">
            <div class="container d-flex justify-content-between mx-auto">
                <img class="mr-3" th:src="@{/images/bank.png}" alt="Bank" width="100" height="100" src="#">
                <div class="p-lg-2">
                    <h4>Система доставки банковских карт</h4>
                    <hr>
                    <h6 class="text-center" th:text="${user_role}"></h6>
                </div>
            </div>
        </a>
        <div class="float-right mx-lg-5">
            <div class="lh-100">
                <h6 class="text-center">Добро пожаловать</h6>
                <h6 class="text-center" th:text="${user_name}"></h6>
            </div>
            <div class="btn-group dropstart">
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false"></button>
                <a th:href="@{/view}" type="button" class="btn btn-danger">Личный кабинет &#9776;</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/edit/personal}">Изменение персональной информации</a></li>
                    <li><a class="dropdown-item" th:href="@{/edit/password}">Изменение пароля</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" th:href="@{/logout}">Выход из учётной записи</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="nav-other">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/home}">
            <div class="container d-flex justify-content-between mx-auto">
                <img class="mr-3" th:src="@{/images/bank.png}" alt="Bank" width="100" height="100" src="#">
                <div class="float-left mx-lg-3 my-xl-4">
                    <h4>Система доставки банковских карт</h4>
                </div>
            </div>
        </a>
        <div class="float-right mx-lg-5">
            <div class="btn-group dropstart">
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false"></button>
                <a th:href="@{/view}" type="button" class="btn btn-danger">Личный кабинет &#9776;</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/edit/personal}">Изменение персональной информации</a></li>
                    <li><a class="dropdown-item" th:href="@{/edit/password}">Изменение пароля</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" th:href="@{/logout}">Выход из учётной записи</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="footer">
    <footer class="footer">
        <div class="container-fluid bg-dark text-center text-white fixed-bottom pt-2 pb-2">
            <span class="text-muted">&copy; Bank card delivery system | All rights reserved | 2022</span>
        </div>
    </footer>
</div>
</body>
</html>