<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:insert="main :: head"></div>
</head>

<body>
<div th:fragment="detailOrder">
    <div class="customForm">
        <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="header" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="header">Детальная информация по заказу</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6 class="text-center pb-0 mb-0"><u>Заказ</u></h6>
                        <div class="mb-3">
                            <label for="id" class="col-form-label">Номер заказа:</label>
                            <input readonly type="text" name="id" id="id" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="addressPickup" class="col-form-label">Адрес взятия карты:</label>
                            <input readonly type="text" name="addressPickup" id="addressPickup" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="addressDelivery" class="col-form-label">Адрес доставки карты:</label>
                            <input readonly type="text" name="addressDelivery" id="addressDelivery"
                                   class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="typeDelivery" class="col-form-label">Тип доставки:</label>
                            <input readonly type="text" name="typeDelivery" id="typeDelivery" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="status" class="col-form-label">Текущий статус заказа:</label>
                            <input readonly type="text" name="status" id="status" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="createdDate" class="col-form-label">Дата создания заказа:</label>
                            <input readonly type="text" name="createdDate" id="createdDate" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="updatedDate" class="col-form-label">Дата обновления заказа:</label>
                            <input readonly type="text" name="updatedDate" id="updatedDate" class="form-control">
                        </div>
                        <hr>
                        <h6 class="text-center pb-0 mb-0"><u>Карта</u></h6>
                        <div class="mb-3">
                            <label for="typeCard" class="col-form-label">Тип карты:</label>
                            <input readonly type="text" name="typeCard" id="typeCard" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Описание карты:</label>
                            <textarea readonly type="text" name="description" id="description"
                                      class="form-control"></textarea>
                        </div>
                        <hr>
                        <h6 class="text-center pb-0 mb-0"><u>Клиент</u></h6>
                        <div class="mb-3">
                            <label for="clientPin" class="col-form-label">ПИН клиента:</label>
                            <input readonly type="text" name="clientPin" id="clientPin" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="clientFullName" class="col-form-label">ФИО клиента:</label>
                            <input readonly type="text" name="clientFullName" id="clientFullName" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="clientPhoneNumber" class="col-form-label">Номер телефона:</label>
                            <input readonly type="text" name="clientPhoneNumber" id="clientPhoneNumber"
                                   class="form-control">
                        </div>
                        <hr>
                        <h6 class="text-center pb-0 mb-0"><u>Филиал</u></h6>
                        <div class="mb-3">
                            <label for="branchName" class="col-form-label">Наименование филиала:</label>
                            <input readonly type="text" name="branchName" id="branchName" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="branchAddress" class="col-form-label">Адрес филиала:</label>
                            <input readonly type="text" name="branchAddress" id="branchAddress" class="form-control">
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>