<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:insert="main :: head"></div>
</head>

<body>
<div th:fragment="deleteClient">
    <div class="customForm">
        <form th:action="@{/clients/delete}" method="POST" autocomplete="off">
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="header" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="header">Удаление клиента банка</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <h5>Вы действительно хотите удалить клиента банка?</h5>
                            <p>Удалённая информация по-прежнему хранится в базе данных но не участвует в выборке и
                                других операциях.</p>
                            <div class="mb-3 d-none">
                                <label for="id" class="col-form-label">Идентификатор:</label>
                                <input type="text" name="id" id="id" class="form-control" required>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">&laquo; Нет</button>
                            <input type="submit" value="Да &raquo;" class="btn btn-danger"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>