<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:insert="main :: head"></div>
</head>

<body>
<div th:fragment="addOrder">
    <form th:action="@{/orders/add}" method="POST" autocomplete="off">
        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="header" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="header">Добавление нового заказа</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="addressPickup" class="col-form-label">Укажите адрес филиала для вывоза:</label>
                            <select id="addressPickup" name="addressPickup" class="form-select" required>
                                <option th:each="branch : ${branches}" th:value="${branch.address}"
                                        th:text="${branch.name} + ' - ' + ${branch.address} "></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="addressDelivery" class="col-form-label">Введите адрес для доставки:</label>
                            <input type="text" name="addressDelivery" id="addressDelivery" class="form-control"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label for="branch" class="col-form-label">Выберите филиал, где была заказана карта:</label>
                            <select id="branch" name="branch" class="form-select" required>
                                <option th:each="branch : ${branches}" th:value="${branch.id}"
                                        th:text="${branch.name}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="card" class="col-form-label">Выберите заказанную карту:</label>
                            <select id="card" name="card" class="form-select" required>
                                <option th:each="card : ${cards}" th:value="${card.id}"
                                        th:text="${card.typeCard}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="client" class="col-form-label">Выберите держателя карты:</label>
                            <select id="client" name="client" class="form-select" required>
                                <option th:each="client : ${clients}" th:value="${client.id}"
                                        th:text="${client.clientPin} + ' - ' + ${client.clientFullName}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <input type="submit" value="Добавить новый заказ &#10011;" class="btn btn-danger"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>