<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:insert="main :: head"></div>
</head>

<body>
<div th:insert="main :: nav-other"></div>
<hr>

<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerProcessingActiveOrder">QR-код для заказа с номером <i
                        th:text="${id}"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="window.history.back()"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div th:if="${qrError != true}" class="mb-3 text-center">
                    <img th:src="@{${'/images/' + 'QR-codes/' + qr}}" alt="QR" src="#"/>
                </div>
                <div class="alert alert-danger text-center" th:if="${qrError == true}" th:text="${feedback}"></div>
            </div>
        </div>
    </div>
</div>
<hr>

<div th:insert="main :: footer"></div>
</body>
</html>