<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Главное меню</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:insert="main :: head"></div>
</head>
<body>
<div th:insert="main :: nav-main"></div>
<hr>
<div class="container bg-dark text-light pt-3 pb-3 rounded-3">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 d-grid gap-2">
            <a th:href="@{/users}" class="btn btn-danger">Управление пользователями</a>
        </div>
        <div class="col-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 d-grid gap-2">
            <a th:href="@{/branches}" class="btn btn-danger">Управление филиалами</a>
        </div>
        <div class="col-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 d-grid gap-2">
            <a th:href="@{/orders}" class="btn btn-danger">Просмотр активных заказов</a>
        </div>
        <div class="col-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 d-grid gap-2">
            <a th:href="@{/story}" class="btn btn-danger">Просмотр историй заказов</a>
        </div>
        <div class="col-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 d-grid gap-2">
            <a th:href="@{/statistics}" class="btn btn-danger">Просмотр статистики по филиалам</a>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<hr>
<div th:insert="main :: footer"></div>
</body>
</html>